.slider-container { margin: 20px 0; padding: 10px; background: #111; border-radius: 10px; }
.slider {
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    background: #333;
    border-radius: 5px;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #5C6AC4;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px #5C6AC4;
}